.app {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 1280px;
  padding: 32px 0;
}

.container {
  flex: 1 1 100%;
  margin: 0 auto;
  padding: 8px;
}

.wrapper {
  max-width: 590px;
  margin: 0 auto;
}