.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.cancelBtn {
  color: inherit;
  padding: 2px;
}

.cancelBtn svg {
  width: 36px;
  height: 36px;
}